.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.news-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-card {
  width: 100%;
  max-width: 600px;
  padding: 16px;
  margin: 10px 0; /* Espacio vertical entre tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}



/* src/App.css */

.news-card img {
  width: 100%;       /* Ocupa todo el ancho del contenedor */
  max-width: 300px;  /* Limita el ancho máximo */
  height: auto;      /* Mantiene la proporción de la imagen */
  border-radius: 8px; /* Opcional: esquinas redondeadas */
  object-fit: cover;  /* Corta la imagen si es demasiado grande */
}


.news-card h2 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 8px;
}

.news-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 12px;
}

.news-card a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.news-card a:hover {
  text-decoration: underline;
}
/* Si quieres que todo el contenedor tenga más padding */
.home-container {
  padding: 20px;
}

/* src/components/NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #2c3e50, #4ca1af); /* Fondo degradado */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

.navbar-link:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #e2e2e2;
}



